@page
@model FitnessWeb.Pages.Sessions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Session</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Session.Date" class="control-label"></label>
                <input asp-for="Session.Date" class="form-control" />
                <span asp-validation-for="Session.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.StartTime" class="control-label"></label>
                <input asp-for="Session.StartTime" class="form-control" />
                <span asp-validation-for="Session.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.DurationMinutes" class="control-label"></label>
                <input asp-for="Session.DurationMinutes" class="form-control" />
                <span asp-validation-for="Session.DurationMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.MaxCapacity" class="control-label"></label>
                <input asp-for="Session.MaxCapacity" class="form-control" />
                <span asp-validation-for="Session.MaxCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session.TrainerID" class="control-label"></label>
                <select asp-for="Session.TrainerID" class ="form-control" asp-items="ViewBag.TrainerID" ></select>
            </div>
            <div class="form-group">
                <label asp-for="Session.WorkoutTypeID" class="control-label"></label>
                <select asp-for="Session.WorkoutTypeID" class ="form-control" asp-items="ViewBag.WorkoutTypeID" ></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
